/*
 * Estilos de tu proyecto
 */

 * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

 body{
  margin: 0 auto;
  line-height: 1.71429;
  background-color: #fff;
  font-family:  'Montserrat', sans-serif;
  text-align: center;

 }
 img {
   vertical-align: middle;
 }

 a {
   color: #fff;
   text-decoration: none;
   display: inline-block;
   font-size: 80%;
 }

 a:hover {
  color: #18BC9C;
  font-size: 70%;
}

img {
  vertical-align: middle;
}

header{
  background-color: #2C3E50;
  color: #fff;
  margin: 0;
  width: 100%;
  position: fixed;
  padding: 10px;
  text-align: center;
}

li{
  list-style: none;
  display: inline-block;
}
#TituloPagina{
  font-size: 150%;
}

#fondoVerde{
  background-color: #19C3A8;
  padding: 10% 0;
  color: #fff;
  font-weight: bold;
}

div{
  background-color: #fff;
  border: 2px;
}

.raya{
  border: 2px solid white;
  width: 10%;
  display: inline-block;
}
 h1{
   font-size: 4em;
 }

#portfolio{
  background-color: #fff;
  padding: 5% 8%;


}

.raya_negra{
  border: 2px solid black;
  width: 10%;
  display: inline-block;
}

h2{

  font-size: 2em;
}

#h2_seccion_about{
  margin-top: -8%;
}
